<h1>Sessions#new</h1>
<p>Session new Page for user to login</p>

<%= form_tag({controller: 'sessions', action: 'create', method: 'post'}) do %>
User Name: <input name=name ><br>
Password: <input type=password password=password><br>
<input type=submit value='Login' >

<% end %>
